{% extends "base_generica.html" %}

{% block content %}
    <h1>Clientes</h1>
    <button><a class="btn-cadastro" href="{% url 'cadastro-cliente' %}">Cadastrar Cliente</a></button>
    {% if clientes_lista %}
    <ul>
        {% for cliente in clientes_lista %}
        <li>
            <a href="{% url 'cliente-detalhes' cliente.pk %}">{{ cliente.razao_social }}</a> - <a href="{% url 'altera-cliente' cliente.pk %}">Alterar</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Nenhum cliente cadastrado.</p>
    {% endif %}
{% endblock %}